<div class="alert alert-success">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= @new_student.name %>, The Magic Hat has chosen. You are a <%= @new_student.house.name %>!
</div>
<hr>
<h1>Here are all the students in Hogwarts</h2>
  <hr>
  <% @students.each do |student| %>
  <li><a href="/students/<%= student.id %>"><span class="glyphicon glyphicon-user"> <%= student.name %> <%= student.last_name %></a></span></li>
  <% end %>
  <hr>
  <%= link_to "Home", root_path %>

